.ordem__form {
  width: 100%;
  height: 95em;
}

.ordem__form__wrap {
  width: 100%;
  height: 100%;
}

.ordem__md {
  display: flex;
  width: 100%;
  margin-top: 3em;
  /* background-color: #efb90a; */
}

.form__layout {
  width: 100%;
  height: auto;
  display: flex;
}

.form__layout__md {
  width: 60%;
  height: auto;
}

.inputLabel {
  margin-right: auto;
  margin-left: 2.6%;
  font-size: 1.3rem;
  margin-block-start: 1rem;
}

.form__input {
  width: 95%;
  height: 2.5em;
  padding-left: 0.41em;
  outline: none;
}

.form__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 10rem;
  width: 85%;
  height: auto;
  /* background-color: #1d1d1d; */
}

.ordem__form__title {
  height: fit-content;
  width: 100%;
  text-align: center;
}

.ordem__title__content {
  font-size: 6rem;
  margin: 0 auto;
  width: 2.7em;
  font-weight: 600;
  border-bottom: 3px solid #000;
}

/* Total Style */

.total__container {
  width: 35em;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
  margin-top: 1em;
}

.total__wrap {
  width: 100%;
  height: 100%;
}

.inputLabelTotal {
  font-size: 1.4rem;
}

.input__select {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 0;
}

.form__input__btn {
  height: 3em;
  width: 100%;
  border: 2px solid;
  text-transform: uppercase;
  outline: none;
  transition: 800ms;
}

.btn__secondary {
  margin-top: 5em;
  color: #fff;
  background-color: #efb90a;
  border-color: #efb90a;
}

.btn__secondary:hover {
  color: #000;
  border-color: #000;
  background-color: transparent;
}

.btn__primary {
  margin-top: 0.5em;
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn__primary:hover {
  color: #000;
  border-color: #000;
  background-color: transparent;
}

.total__content__itens {
  position: relative;
  margin-top: 0.71em;
  height: 2rem;
  font-size: 1.4rem;
}

.total__content__md {
  position: relative;
  margin-top: 0.71em;
  height: 4rem;
  font-size: 1.4rem;
  border-bottom: 1px solid #1d1d1d;
}

.total__count {
  position: absolute;
  right: 0;
}

.inputTotal {
  margin-top: 1rem;
}

// User Name and message

.inputName__container {
  width: 95%;
  .inputName {
    width: 100%;
    height: 3rem;
  }
}

#observacao {
  margin-block-start: 2.1rem;
  margin-block-end: 2.1rem;
  padding-top: 0.52rem;
  padding-left: 0.52rem;
  outline: none;
}
