.home__page {
    width: 100%;
    height: 66em;
}

.home__page__wrap {
    width: 100%;
    height: 100%;
    background-image: url("../images/homePageBg.jpg");
    background-size: cover;
    background-position: center;
}

.home__page__content {
    width: 100%;
    height: 90%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner__content {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner__content__h3 {
    font-size: 2rem;
    margin-top: 6rem;
    text-shadow: 1px 2px 2px #000;
    letter-spacing: 2px;
    color: #fff;
}

.inner__h1__wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-block-start: -1rem;
    /* row-gap: -5rem; */
}

.inner__content__h1,
.inner__content__h2 {
    font-size: 8rem;
    color: #fff;
}

.inner__content__h2 {
    position: absolute;
    bottom: -7rem;
}

.first__h1 {
    /* top: 6.rem;
    position: absolute; */
}

/* 
.first__h1::after {
    content: "\a";
    white-space: pre;
} */

.link__home {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    margin-top: 8rem;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding-inline-start: 1.2rem;
    padding-block-start: 0.31rem;
    padding-block-end: 0.21rem;
    text-shadow: 1px 2px 2px #000;
    border: 3px solid #efb90a;
    transition: 400ms;
}

.arrowIcon {
    transition: 400ms;
}

.link__home:hover {
    transform: translateY(-.40rem);
}

.link__home:hover .arrowIcon {
    transform: rotate(90deg);
}