@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap");

@import "Navbar", "Form", "HomePage", "Searchbar", "Order.scss", "SingleProduct",
  "UserInput", "Kitchen";
:root {
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Bebas Neue", "Roboto", cursive, sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  direction: ltr;
  display: flex;
  min-width: 320px;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: var(--secondary-font);
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 1300px;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
}
