.order__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: 800px) {
    margin-top: 5rem;
  }
}

.lista__cart__wrap {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cart__list__items {
  width: 78%;
  display: flex;
  gap: 2rem;
  background-color: #eee;

  @media (max-width: 800px) {
    width: 100%;
  }

  .cart__items__img {
    width: 10rem;
    height: 7rem;
  }

  .cart__content {
    margin-top: 0.5rem;

    @media (max-width: 644px) {
      margin-bottom: auto;
      margin-top: 2rem;
    }
  }

  .cart__price {
    font-size: 1.2rem;
  }
}

.cart__quant {
  font-size: 1.2rem;
}

.cart__btn__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: 1rem;

  .btn__cart {
    background-color: transparent;
    outline: none;
    border: none;
  }
}

// lista de pedidos vazia

.lista__vazia {
  width: 80%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .lista__vazia__p {
    font-size: 1.46rem;
  }
}

// Food list

.food__list__ul {
  margin-top: 2%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2em;

  .food__list__li {
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
  }
}

.food__list__description {
  width: 95%;

  @media (max-width: 1245px) {
    display: none;
  }
}

.product__btn__container {
  height: 100%;
  width: 25%;
  margin-left: auto;
  position: relative;
}

.product__btn__wrap {
  position: absolute;
  margin-top: auto;
  bottom: 1rem;
  right: 1rem;
  background-color: #eee;

  .btn__minha__lista {
    outline: none;
    width: max-content;
    padding: 0.71rem 1rem;
  }
}

.food__items__img {
  margin-left: 0.9rem;
  width: 10rem;
  height: 8rem;
}
