.order__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lista__cart__wrap {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cart__list__items {
  width: 78%;
  display: flex;
  gap: 2rem;
  background-color: #eee;

  .cart__items__img {
    width: 10rem;
    height: 7rem;
  }

  .cart__content {
    margin-top: 0.5rem;
  }

  .cart__price {
    font-size: 1.2rem;
  }
}

.cart__quant {
  font-size: 1.2rem;
}

.cart__btn__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: 2rem;

  .btn__cart {
    background-color: transparent;
    outline: none;
    border: none;
  }
}

// lista de pedidos vazia

.lista__vazia {
  width: 80%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .lista__vazia__p {
    font-size: 1.46rem;
  }
}

// Food list

.food__list__ul {
  margin-top: 2%;
  margin-left: 11.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2em;

  .food__list__li {
    width: 95%;
    height: 12rem;
    display: flex;
    align-items: center;
  }
}

.food__list__description {
  width: 95%;
}

.product__btn__container {
  height: 100%;
  width: 25%;
  margin-left: auto;
  position: relative;
}

.product__btn__wrap {
  position: absolute;
  margin-top: auto;
  bottom: 1rem;
  right: 1rem;
  background-color: #eee;

  .btn__minha__lista {
    outline: none;
    width: max-content;
    padding: 0.71rem 1rem;
  }
}

.food__items__img {
  margin-left: 0.9rem;
  width: 10rem;
  height: 8rem;
}

// Troco Form

.change__tip {
  position: relative;
  height: 7.5rem;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;

  .change__tip__results,
  .change__tip__num {
    padding-left: 1rem;
    width: 98%;
    height: 3.5rem;
  }

  .change__tip__btn__wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 1rem;

    .change__tip__btn {
      outline: none;
      border: 1px solid #666;
      padding: 0.52rem 2.5rem;
      background-color: transparent;
      transition: 500ms;
    }

    .change__btn__primary {
      background-color: #000;
      color: #fff;

      &:hover {
        opacity: 0.8;
      }
    }

    .change__btn__secondary {
      &:hover {
        background-color: #eee;
      }
    }
  }
}
